/* * {
  border: 1px solid gold;
} */

@font-face {
  font-family: 'gyparody';
  src: url('../fonts/gyparody/gyparody.ttf');
}

@font-face {
  font-family: 'mukta';
  src: url('../fonts/Mukta/Mukta-Light.ttf');
}

@font-face {
  font-family: 'anton';
  src: url('../fonts/Anton/Anton-Regular.ttf');
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #100073;
  border-radius: 10px;
  color: white;
}

header h1 {
  font-family: 'gyparody';
  font-size: 55px;
  margin: 0px;
  padding: 1%;
}

.fas {
  font-size: 50px;
  vertical-align: middle;
  line-height: normal;
  padding: 1%;
  text-decoration: none;
  color: white;
}

.parent {
  display: flex;
  flex-direction: column;
  background-color: #100073;
  margin: 1% 0%;
  border-radius: 10px;
  height: 51em;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  margin-top: 3%;
}

#special h2 {
  color: #CB8E3C;
  text-shadow: 3px 3px black;
}

#special h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  height: 60%;
  width: 80%;
  text-align: center;
  background-color: #100073;
  border-radius: 15px;
  border: 5px solid #CB8E3C;
  color: white;
}

.half {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: black;
  width: 48%;
  height: 90%;
  border: 5px solid #CB8E3C;
  border-radius: 10px;
}

.half img {
  height: 30%;
  width: 30%;
}

.half h2 {
  font-family: 'anton';
  font-size: 35px;
}

.half h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'mukta';
  font-size: 25px;
  width: 60%;
  height: 15%;
  border-radius: 15px;
  text-align: center;
  background-color: #100073;
  color: white;
  cursor: pointer;
}

#none {
  background-color: white;
}

.half h5 {
  font-family: 'mukta';
  font-size: 20px;
}
